# ==========================================
# ### HOW TO ###
# fill in the settings you need, blank out the ones you don't! 
# then you run the generateLivery.sh with the inputs -a <airframe> which is one of warrior, arrow or tomahawk (for now) and the option -c which gets you the clean interior ktx files in the output folder
#
# ## cfg sections ##
#  [Files]
# Logo file: the logo file relative to the generateLivery script, so ./Logo.png or whatever
# folderName: if you want to specify a folder to have the generated files saved in, this is it, else "CustomLivery" is used 
# files will be overwritten each run so bare this in mind.
# [body] [tail] [wing]
# these sections have the masks available per section, you supply the colour values and the script will populate those masks with the colour, if you leave it blank, it won't touch those masks
# colours use any html hash value or plain colour name  per HTML4.01
# #123654 or blue etc
#
#
#
# ## Common ##
# Base Colour: the whole body is coloured but is underneath any other layers, this applies to Body, Wings and Tail
# 
# Belly Colour: The underside of the wings and body, does not apply to tails add low tide mark if you want the color between wing belly and body belly to join
# 
# Tide Mark: has 3 levels, Low, middle and High, it comes up from the lowest part of the body or tail, and from the wing root.
#
# Inverted Tide Mark: has 3 levels, Low, middle and High, are from the 'other' end, so top or wing-tip as is appropriate
#
# Arrow|n: uses a line at the bottom, then two trangles above, separate for both wing and tail like https://flightsim.to/addon/81343/zk-ebm-canterbury-aero-club-new-zealand-just-flight-piper-pa-28-warrior-ii-4k
# The bottom two cheat lines are covered by the top arrow colour.
# Not available on wings
#
# ## Body Only ##
# Swoosh: isn't meant to be used with the tide marks, but will appear over them if both are present and goes from the belly up in a solid colour
# Swoosh line: looks like a paint brush line similar to https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxGuSanjIsZjelBGY1UmtF0jSQMy7QXn5LGIKh8v_22A&s but only one colour
#
# Cheat Line|n: 5 cheat lines which you can use in any combination. leaving them blank makes them invisible 1 is the top, 5 is the bottom Only available for the body
#
#
# ## Specials ##
# hockey Stick|n: uses the same height of the tideMarks so don't use both. It goes along the body and up the tail
# hockey stick example https://www.planesales.com.au/Uploads/Listing/Normal/ID03295-11399-1-631-1981-Piper-Warrior-II-Aircraft.jpeg
#
# ==========================================


[Files]
folder_name=test2
airframe=warrior
clean=False

[Body]
base = 
belly = #4E3629
high_tide_mark = #F4A127
middle_tide_mark = #E5771E
low_tide_mark = #4E3629
high_inverted_tide_mark = #F4A127
middle_inverted_tide_mark = #E5771E
low_inverted_tide_mark = #4E3629
swoosh = 
swoosh_line = #fff
cheat_line_1 = #5E5e5e
cheat_line_2 = #808080
cheat_line_3 = #5E5e5e
cheat_line_4 = #808080
cheat_line_5 = #5E5e5e
arrow_1 = #D4AF37
arrow_2 = #C0C0C0
arrow_3 = #CD7F32
hockey_stick_1 = 
hockey_stick_2 = 

[Tail]
base = 
arrow_1 = 
arrow_2 = 
arrow_3 = 
high_tide_mark = #4A7EA8
middle_tide_mark = #D7E0DB
low_tide_mark = #5E7468
high_inverted_tide_mark = 
middle_inverted_tide_mark = 
low_inverted_tide_mark = 
logo_image=./logo.png
logo_size=200

[Wing]
base = 
belly = #5E7468
high_tide_mark = #D7E0DB
middle_tide_mark = #D7E0DB
low_tide_mark = #5E7468
high_inverted_tide_mark = 
middle_inverted_tide_mark = 
low_inverted_tide_mark = 